<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856243804950-tkl8uplrvp4qhq2turs3oh7rbnq22j4q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856243804950-tkl8uplrvp4qhq2turs3oh7rbnq22j4q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856243804950-2aq2nn4nvi3t1gg8dpl3bru23khjckoc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeBbkz_x9g1WBNaA--ohjqlXee-wQo77w</string>
	<key>GCM_SENDER_ID</key>
	<string>856243804950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.famewall.famewall</string>
	<key>PROJECT_ID</key>
	<string>famewall-666ca</string>
	<key>STORAGE_BUCKET</key>
	<string>famewall-666ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856243804950:ios:12a64194f40e8f4ea00e37</string>
</dict>
</plist>